* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}


#root {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  display: block;
  background-color: rgb(243, 150, 78);
  min-height: 100vh;
  padding-bottom: 100px;
}

.nav--links{
  border: solid white 3px;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

#bannerRow {
  margin: 0;
  margin-top: 50px;
}

#bannerCol {
  text-align: center;
}

.carousel {
  max-width: 700px;
  margin: auto;
  top: 50px;
}

.carousel-indicators button{

  border-radius: 20px;
  min-height: 10px;
  max-width: 10px;
}

.carousel-inner img{
  max-width: 700px;
  max-height: 350px;
  min-height: 350px;
  border-radius: 50px;
}

.navbar-toggler{
  background-color: rgba(0, 0, 0, 1.0);
}

#product--container{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
  justify-content: center;
}

.cardContainer{
  margin-top: 30px;
  margin-left: 20px;
}

.card--body{
  min-width: 500px !important;
}

.card-body{
  min-width: 500px;
  max-width: 500px;
  margin-top: 20px;
  min-height: 600px;
  text-align: center;

}

.productImage{
  border: solid black 5px;
  max-height: 300px;
  height: 300px;
  max-width: 450px;
}

.cardText{
  margin-top: 5px;
}

.productStatus{
  padding-top: 10px;
}

.cardDescription{
  max-height: 100px;
  height: 100px;
  word-wrap: break-word;
}

.cardContainer .btn{
  margin-top: 20px;
}

.productV--card{

  margin: auto;
  min-width: 500px;
  max-width: 500px;
  min-height: 400px;
}

.productV--title{
  padding-top: 25px;
}

.productV--text{
  margin-top: 25px;
}

.productV--description{
  max-height: 100px;
  height: 100px;
  word-wrap: break-word;
}

.productV--button{
  margin-top: 25px;
}

.productV--edit{
  margin-top: 25px;
  margin-right: 20px;
}

.productV--container{
  padding-top: 150px;
}

.form--edit{
  border: solid black 10px;
  margin: auto;
  max-width: 750px;
  margin-top: 100px;
  text-align: center;
  height: 500px;
  justify-content: center;
  margin-bottom: 55px;
  border-radius: 25px;
}

.edit--name{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
}

.edit--description{
  max-width: 300px;
  margin: 20px auto auto auto;
}

.edit--descriptionText{
  display: block;
}

.edit--textArea{
  max-width: 300px;
  width: 300px;
  min-height: 100px;
  word-wrap: break-word;

}

.form--create{
  border: solid black 10px;
  margin: auto;
  max-width: 750px;
  margin-top: 100px;
  text-align: center;
  height: 500px;
  justify-content: center;
  margin-bottom: 55px;
  border-radius: 25px;
}

.create--input{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
}

.create--description{
  max-width: 300px;
  margin: 20px auto auto auto;
}

.create--descriptionText{
  display: block;
}

.create--textArea{
  max-width: 300px;
  width: 300px;
  min-height: 100px;
  word-wrap: break-word;
}

.form--login{
  border: solid black 10px;
  margin: auto;
  max-width: 750px;
  margin-top: 175px;
  text-align: center;
  height: 300px;
  justify-content: center;
  margin-bottom: 55px;
  border-radius: 25px;
}

.login--input{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.form--register{
  border: solid black 10px;
  margin: auto;
  max-width: 750px;
  margin-top: 100px;
  text-align: center;
  height: 550px;
  justify-content: center;
  margin-bottom: 55px;
  border-radius: 25px;
}

.input--register{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.badge--main{
    max-width: 75px;
    max-height: 20px;
    margin-top: 20px;
    margin-left: 50px;
}

@media only screen and (max-width: 992px) {


  .nav--links{
    min-width: 75px;
    text-align: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: 0;

  }

  #navbar--container{
    margin: 0;
    margin-right: 20px;
    max-width: 991px;
    padding-right: 20px;
    padding-left: 50px;
  }

  #product--container{
    justify-content: center;

  }

  .form--create{
    margin: auto;
    margin-top: 50px;
  }

  .create--textArea{
    width: 250px;
  }

  .badge--main{
    max-width: 75px;
    margin-top: 0;
    margin-left: 0;
  }
}

@media only screen and (max-width: 425px){

  html{
    max-width: 425px;
  }

  body{
    width: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .footer--main{
    width: auto;
  }

  #root{
    width: auto;
    padding-bottom: 25px;
  }

  .navbar--main{
    max-width: auto;
  }

  .nav--links{
    max-width: 30px;
  }

  .card--main{
    min-width: 200px !important;
    min-height: 300px;
  }

  .card--title{
    max-width: 150px;
    word-wrap: break-word;
  }

  .cardDescription{
    display: none;
  }

  .product--container{
    padding-bottom: 20px;
  }

  .form--login{
    margin-top: 100px;
  }

  .badge--main{
    max-width: 75px;
    margin-top: 0;
    margin-left: 0;
  }

  .productV--card{
    max-width: auto;
    width: 300px;
    min-width: auto;
  }

  .card--body{
    max-width: auto !important;
    min-width: 300px !important;
  }

  .productV--title{
    max-width: auto;
  }

  .productV--description{
    max-width: auto;
  }

  .productV--text{
    max-width: auto;
  }

  .card-text{
    max-width: auto;
  }
}